body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #effffd;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #1f1f1f;
}

#header {
    height: 72px;
    background-color: #42c2ff;
    color: #effffd;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#content {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    background-color: inherit;
    min-height: inherit;
}

#home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    position: fixed;
    transition: 0.5s ease-in-out;
}
.starting {
    top: 40%;
    left: 25%;
}
.minimized {
    position: fixed;
    top: 120px;
    left: 650px;
    transform: scale(50%);
    font-size: 30%;
}

#website-logo {
    width: 100%;
    margin-top: -150px;
    margin-left: 50px;
}
#search-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 5px;
}
#search-input {
    font-size: 28px;
    width: 100%;
}
#search-button {
    background-color: #85f4ff;
    color: #1f1f1f;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid #42c2ff;
    padding: 4px 10px;
    width: 100px;
}
#search-button:hover {
    filter: brightness(80%);
}
#search-button:active {
    filter: brightness(60%);
}

#loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: #85f4ff;
    height: 125px;
    width: 125px;
    border: 2px solid #1f1f1f;
    border-radius: 30px;
}
#loading-icon {
    font-size: 100px;
    color: #ffd205;
    animation: load-anim 2s ease-in-out 0s infinite;
}

@keyframes load-anim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
